    <section id="team">
        <div class="container">
        <br>
        <br>
            <div class="row black center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ABOUT OUR AWESOME TEAM</h2>
                </div>
            </div>
            <hr>
            <div class="container" id="team" name="team">
            <div class="row">
                <div class="col-md-5">
                    <div class="team-member">
                        <img src="../static/img/team/sy.jpg" class="img-responsive img-circle"  height="220px" width="220px">
                        <h4 class="">Shuoyi Yang</h4>
                        <br>
                        <p><b>Role: </b>Front End</p>
                        <p><b>Git Commits: 4</b></p>
                        <p><b>Unit Tests: 0</b></p>
                        <p><b>Issues: 4</b></p>
                    </div>
                </div>
                <div class ="col-md-7">
                    <div class = "jumbotron">
                    <div class = "container">
                    <p>I'm a senior CS major at UT, and I am graduating this December. I love playing PC games and Basketball.</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="container" id="team" name="team">
            <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="team-member">
                        <img src="../static/img/team/darya.jpg" class="img-responsive img-circle"  height="220px" width="220px">
                        <h4 class="">Darya Mylius</h4>
                        <br>
                        <p><b>Role: </b>Front end: HTML</p>
                        <p><b>Git Commits: 2</b></p>
                        <p><b>Unit Tests: 0</b></p>
                        <p><b>Issues: 1</b></p>
                    </div>
                </div>
                <div class ="col-md-7">
                    <div class = "jumbotron">
                    <div class = "container">
                    <p>I'm also a senior within the CS program at UT. I spend most of my time creating art, playing with my two cats, or roller skating and working out.</p>
                    </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="container" id="team" name="team">
            <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="team-member">
                        <!-- change image -->
                        <img src="../static/img/team/kcv.jpg" class="img-responsive img-circle"  height="220px" width="220px">
                        <h4 class="">Kiankris Villagonzalo</h4>
                        <br>
                        <p><b>Role: </b>HTML, Unit Tests</p>
                        <p><b>Git Commits: 5 </b></p>
                        <p><b>Unit Tests: 36</b></p>
                        <p><b>Issues: 1</b></p>
                    </div>
                </div>
                <div class ="col-md-7">
                    <div class = "jumbotron">
                    <div class = "container">
                    <p>I'm going to be a senior at UT. I spend most of my time playing video games, binge watching shows on Netflix or Game of Thrones, and swimming.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
		<div class="container" id="team" name="team">
            <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="team-member">
                        <!-- change image -->
                        <img src="../static/img/team/andrew.jpg" class="img-responsive img-circle"  height="220px" width="220px">
                        <h4 class="">Andrew Turner</h4>
                        <br>
                        <p><b>Role: </b>Back End, some Front End</p>
                        <p><b>Git Commits: 9 </b></p>
                        <p><b>Unit Tests: 0</b></p>
                        <p><b>Issues: 4</b></p>
                    </div>
                </div>
                <div class ="col-md-7">
                    <div class = "jumbotron">
                    <div class = "container">
                    <p>UT senior, graduating in may. I lke swimming, video games, Netflix, movies and working out</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
	   <div class="container" id="team" name="team">
            <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="team-member">
                        <!-- change image -->
                        <img src="../static/img/team/bre.jpg" class="img-responsive img-circle"  height="220px" width="220px">
                        <h4 class="">Brendon Rhodes</h4>
                        <br>
                        <p><b>Role: </b>Miscellaneous</p>
                        <p><b>Git Commits: 3</b></p>
                        <p><b>Unit Tests: 0</b></p>
                        <p><b>Issues: 3</b></p>
                    </div>
                </div>
                <div class ="col-md-7">
                    <div class = "jumbotron">
                    <div class = "container">
                    <p>I'm a junior at the University of Texas at Austin. In my free time I like to code, play games, and watch tv </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container" id="team" name="team">
            <br>
            <div class="row">
                <div class="col-md-5">
                    <div class="team-member">
                        <!-- change image -->
                        <img src="../static/img/team/kevin.JPG" class="img-responsive img-circle"  height="220px" width="220px">
                        <h4 class="">Kevin Du</h4>
                        <br>
                        <p><b>Role: </b>HTML, Apiary files</p>
                        <p><b>Git Commits: 7</b></p>
                        <p><b>Unit Tests: 0</b></p>
                        <p><b>Issues: 3</b></p>
                    </div>
                </div>
                <div class ="col-md-7">
                    <div class = "jumbotron">
                    <div class = "container">
                    <p>Rising senior at UT. I play games, cook, code, draw, and sleep for about 90% of my existence. </p>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    </section>


    <section id="team-footer">
    <br>
    <div class = "footer">
    <hr>
    </div>
    <div class ="row">

    <div class ="col-md-4">
    <div class ="team-footer">
    <img src="../static/img/icons/batman.jpg">
    <br>
    <h2 class="">Team Stats</h2>
    <p><b># Commits: 31</b></p>
    <p><b># Issues: 16</b></p>
    <p><b># Unit Tests: 36</b></p>
    </div>
    </div>

    <div class ="col-md-4">
    <div class ="team-footer">
     <img src="../static/img/icons/superman.jpg">
    <br>
    <h2 class="">Tools</h2>
    <p>Bootstrap</p>
    <p>Flask</p>
    <p>Git</p>
    <p>Travis-CI</p>
    <p>Carina</p>
    <p>SQLAlchemy</p>
    </div>
    </div>

    <div class ="col-md-4">
    <div class ="team-footer">
     <img src="../static/img/icons/joker.jpg">
    <br>
    <h2 class="">Links</h2>
    <a href="http://docs.apiaryapib2.apiary.io">
        <p>Apiary API</p>
    </a>
    <a href="https://github.com/kd9357/cs373-idb/issues">
        <p>Github Issue Tracker</p>
    </a>
    <a href="https://github.com/kd9357/cs373-idb">
        <p>Github Repo</p>
    </a>
    <a href="https://github.com/kd9357/cs373-idb/wiki">
        <p>Github Wiki</p>
    </a>

    </div>
    </div>
    </div>
        

    </section>
