    <!-- Table -->
    <div class = "container">
        <div class="box-table">
            <h2 class="section-heading">Comics</h2>
            <table class="table table-striped">
                <thread>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Total Issues</th>
                        <th>First Publication</th>
                        <th>Featured Characters</th>
                        <th>Creators</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                    <td><div class = "thumb">
                        <img class = "thumb-image" src = "http://vignette2.wikia.nocookie.net/marvel_dc/images/0/06/Batman_1.jpg/revision/latest/scale-to-width-down/200?cb=20141004163644"/></div></td>
                    <td><a href = "comics/batman_vol_1.html">Batman (Volume 1)</a></td>
                    <td>715</td>
                    <td>March, 1940</td>
                    <td>
                            <a href = "characters/batman.html">
                            <p>Batman</p></a>
                        
                    </td>
                    <td>
                            <!-- <a href = "creators/bill_finger.html"> -->
                            <p>Bill Finger</p>
                            <!-- </a> -->
                            <a href = "creators/bob_kane.html">
                            <p>Bob Kane</p>
                            </a>
                        
                    </td>
                    </tr>

                    <tr>
                    <td><div class= "thumb"> 
                        <img class = "thumb-image" src="http://vignette2.wikia.nocookie.net/marvel_dc/images/b/b4/Brave_and_the_Bold_1.jpg/revision/latest/scale-to-width-down/200?cb=20070916071904"/></div></td>
                    <td><a href="comics/brave_and_the_bold_vol_1.html">Brave and the Bold (Volume 1)</a></td> 
                    <td>200</td>
                    <td>August, 1955</td>
                    <td>
                            <a href = "characters/batman.html">
                            <p>Batman</p></a>
                        
                    </td>
                    <td>
                            <p>None</p>
                        
                    </td>
                    </tr>

                    <tr>
                    <td><div class= "thumb"> 
                        <img class = "thumb-image" src="http://vignette4.wikia.nocookie.net/marvel_dc/images/5/53/Showcase_Vol_1_1.jpg/revision/latest/scale-to-width-down/200?cb=20090106134700"/></div></td>
                    <td><a href = "comics/showcase_vol_1.html">Showcase (Volume 1)</a></td>
                    <td>104</td>
                    <td>April, 1956</td>
                    <td>
                            <p>None</p>
                        
                    </td>
                    <td>
                            <!-- <a href = "creators/robert_kanigher.html"> -->
                            <p>Robert Kanigher</p>
                            <!-- </a> -->
                            <!-- <a href = "creators/bob_haney.html"> -->
                            <p>Bob Haney</p>
                            <!-- </a> -->
                            <!-- <a href = "creators/joe_kubert.html"> -->
                            <p>Joe Kubert</p>
                            <!-- </a> -->
                        
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>