    <!-- Table -->
    <div class = "container">
        <div class="box-table">
            <h2 class="section-heading">Creators</h2>
            <table class="table table-striped">
                <thread>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Occupation</th>
                        <th>Creations</th>
                        <th>First Publication</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                    <td><div class = "thumb">
                        <img class = "thumb-image" src = "http://vignette1.wikia.nocookie.net/marvel_dc/images/2/2d/Bob_Kane.jpg/revision/latest?cb=20150517212752"/></div></td>
                    <td><a href = "creators/bob_kane.html">Bob Kane</a></td>
                    <td>Writer</td>
                    <td>
                        
                            <a href = "characters/batman.html">
                            <p>Batman</p></a>
                        </ul>
                    </td>
                    <td>
                        <!-- <a href = "comics/new_adventure_comics.html"> -->
                        <p>New Adventure Comics</p>
                        <!-- </a> -->
                    </td>
                    </tr>


                    <tr>
                    <td><div class = "thumb">
                        <img class = "thumb-image" src = "http://vignette2.wikia.nocookie.net/marvel_dc/images/b/b6/Morrison_grant.jpg/revision/latest?cb=20060914051756"/></div></td>
                    <td><a href = "creators/grant_morrison.html">Grant Morrison</a></td>
                    <td>Writer</td>
                    <td>
                        
                            <!-- <a href = "teams/brotherhood_of_dada.html"> -->
                            <p>Brotherhood of Dada</p>
                            <!-- </a> -->
                        </ul>
                    </td>
                    <td>
                        <!-- <a href = "comics/animal_man.html"> -->
                        <p>Animal Man</p>
                        <!-- </a> -->
                    </td>
                    </tr>


                    <tr>
                    <td><div class = "thumb">
                    <img class = "thumb-image" src = "https://upload.wikimedia.org/wikipedia/commons/3/33/Zack_Snyder.jpg"/></div></td>
                    <td>
                    <a href = "creators/zack_snyder.html">
                    <p>Zack Snyder</p></a></td>
                    <td>Director</td>
                    <td>
                        
                            None
                        </ul>
                    </td>
                    <td>
                        <a href = "movies/watchmen.html">
                        <p>Watchmen (Movie)</p></a>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
