<link href="static/css/character.css" rel="stylesheet" type="text/css">
    <div class="chara-container container">
        <div class="chara-header">
        <div class = "row">
            <div class="col-md-3">
            <img class = "img-rounded" src = "{{image}}">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
            
            <div class="chara-name"><b>{{name}}</b></div>
            <table class="table">
                <tr>
                    <th>Birth Date</th>
                    <th>
                        <p>{{birth_date}}</p>
                    </th>
                </tr>
                <tr>
                    <th>Gender</th>
                    <th>
                        <p>{{gender}}</p>
                    </th>
                </tr>
                <tr>
                    <th>First Publication</th>
                    <th>
                        <a href = "/#/comics/{{first_publication}}">
                          <p>{{first_publication}}</p>
                        </a>
                    </th>
                </tr>

            </table>
            <div class="panel panel-default">
               <div class="panel-heading"><b>Employers</b></div>
                <p ng-repeat="employer in employers">{{employer}}</p>
            </div>
             <div class="panel panel-default">
              <div class="panel-heading"><b>Job Titles</b></div>
                  <p ng-repeat="job in job_titles">{{job}}</p>
            </div>
            <div class="panel panel-default">
               <div class="panel-heading"><b>Creations</b></div>
                <p ng-repeat="creation in creations">{{creation}}</p>
            </div>
           </div>
       </div>
       </div>
     </div>
