    <!-- Table -->
    <div class = "container">
        <div class="box-table">
            <h2 class="section-heading">Movies</h2>
            <table class="table table-striped">
                <thread>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Director</th>
                        <th>Release Date</th>
                        <th>Featured Actors</th>
                        <th>Distributors</th>
                        <th>Composers</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                    <td><div class = "thumb">
                        <img class = "thumb-image" src = "http://vignette3.wikia.nocookie.net/marvel_dc/images/a/a9/WatchmenTheatricalposter.jpg/revision/latest/scale-to-width-down/250?cb=20090219003703"/></div></td>
                    <td><a href = "movies/watchmen.html">Watchmen</a></td>
                    <td><a href = "creators/zack_snyder.html">Zack Snyder</a></td>
                    <td>March 6, 2009</td>
                    <td>
                            <!-- <a href = "characters/the_comedian.html"> -->
                            <p>The Comedian</p>
                            <!-- </a> -->
                            <!-- <a href = "characters/doctor_manhattan.html"> -->
                            <p>Doctor Manhattan</p>
                            <!-- </a> -->
                            <!-- <a href = "characters/night_owl_ii.html"> -->
                            <p>Night Owl II</p>
                            <!-- </a> -->
                            <!-- <a href = "characters/rorschach.html"> -->
                            <p>Rorschach</p>
                            <!-- </a> -->
                            <!-- <a href = "characters/silk_spectre_ii.html"> -->
                            <p>Silk Spectre II</p>
                            <!-- </a> -->
                    </td>
                    <td>Warner Bros.</td>
                    <td>
                        
                            Tyler Bates
                    </td>
                    </tr>

                    <tr>
                    <td><div class= "thumb"> 
                        <img class = "thumb-image" src="http://vignette2.wikia.nocookie.net/marvel_dc/images/e/e6/Batman_v_superman_dawn_of_justice_poster.jpg/revision/latest/scale-to-width-down/250?cb=20160402025153"/></div></td>
                    <td><a href="movies/batman-v-superman_dawn_of_justice.html">Batman vs. Superman: Dawn of Justice</a></td>
                    <td><a href = "creators/zack_snyder.html">Zack Snyder</a></td>
                    <td>March 25, 2016</td>
                    <td>
                        
                            <a href = "characters/batman.html">
                            <p>Batman</p></a>
                            <a href = "characters/superman.html">
                            <p>Superman</p></a>
                    </td>
                    <td>Warner Bros.</td>
                    <td>
                        
                            <p>Hans Zimmer</p>
                    </td>
                    </tr>

                    <tr>
                    <td><div class= "thumb"> 
                        <img class = "thumb-image" src="http://vignette4.wikia.nocookie.net/marvel_dc/images/8/82/Justice_League_The_Flashpoint_Paradox.jpg/revision/latest/scale-to-width-down/250?cb=20130721082303"/></div></td>
                    <td><a href="movies/justice_league_flashpoint_paradox.html">Justice League: The Flashpoint Paradox</a></td>
                    <td>James Tucker</td>
                    <td>July 30, 2013</td>
                    <td>
                        
                            <!-- <a href = "characters/flash.html"> -->
                            <p>Flash</p>
                            <!-- </a> -->
                    </td>
                    <td>Warner Bros.</td>
                    <td>
                        
                    <p>Frederick Wiedmann</p>
                    </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
