<link href="static/css/character.css" rel="stylesheet" type="text/css">
    <div class="chara-container container">
        <div class="chara-header">
        <div class = "row">
            <div class="col-md-3">
            <img class = "img-rounded" src = "{{image}}">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
            
            <div class="chara-name"><b>{{name}}</b></div>
            <table class="table">
                <tr>
                    <th>First Aired</th>
                    <th>
                        <p>{{first_air_date}}</p>
                    </th>
                </tr>
                <tr>
                    <th>Last Aired</th>
                    <th>
                        <p>{{last_aired_date}}</p>
                    </th>
                </tr>
                <tr>
                    <th>Running Time</th>
                    <th>
                        <p>{{running_time}}</p>
                    </th>
                </tr>

            </table>
            <div class="panel panel-default">
               <div class="panel-heading"><b>Creators</b></div>
                <a ng-repeat="creator in creators" href = "/#/creators/{{creator}}">
                <p>{{creator}}</p>
                </a>
            </div>
             <div class="panel panel-default">
              <div class="panel-heading"><b>Featured Characters</b></div>
                	<a ng-repeat="character in featured_characters" href = "/#/characters/{{character}}">
                	<p>{{character}}</p>
                	</a>
            </div>
           </div>
       </div>
       </div>
     </div>
