    <!-- Table -->
    <div class = "container">
        <div class="box-table">
            <h2 class="section-heading">Shows</h2>
            <table class="table table-striped">
                <thread>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Network</th>
                        <th>First Aired</th>
                        <th>Featured Characters</th>
                        <th>Developers</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                    <td><div class = "thumb">
                        <img class = "thumb-image" src = "http://vignette1.wikia.nocookie.net/marvel_dc/images/9/97/The_Flash_%282014_TV_series%29_logo.jpg/revision/latest/scale-to-width-down/270?cb=20140603151605"/></div></td>
                    <td><a href = "shows/the_flash.html">The Flash</a></td>
                    <td>CW</td>
                    <td>October 7th, 2014</td>
                    <td>

                            <!-- <a href = "characters/the_flash.html"> -->
                            <p>Flash</p>
                            <!-- </a> -->
                        
                    </td>
                    <td>

                            <!-- <a href = "creators/greg_berlanti.html"> -->
                            <p>Greg Berlanti</p>
                            <!-- </a> -->
                            <!-- <a href = "creators/andrew_kreisberg.html"> -->
                            <p>Andrew Kreisberg</p>
                            <!-- </a> -->
                            <!-- <a href = "creators/geoff_johns.html"> -->
                            <p>Geoff Johns</p>
                            <!-- </a> -->
                        
                    </td>
                    </tr>

                    <tr>
                    <td><div class= "thumb"> 
                        <img class = "thumb-image" src="http://vignette1.wikia.nocookie.net/marvel_dc/images/1/1e/Justice_League_Unlimited_Title_Card.png/revision/latest/scale-to-width-down/270?cb=20110526200521"/></div></td>
                    <td><a href="shows/justice_league_unlimited.html">Justice League Unlimited</a></td>
                    <td>Cartoon Network</td>
                    <td>July 31, 2004</td>
                    <td>

                            <a href = "characters/superman.html">
                            <p>Superman</p></a>
                            <a href = "characters/batman.html">
                            <p>Batman</p></a>
                            <!-- <a href = "characters/the_flash.html"> -->
                            <p>Flash</p>
                            <!-- </a> -->
                            <!-- <a href = "characters/green_lantern.html"> -->
                            <p>Green Lantern</p>
                            <!-- </a> -->
                        
                    </td>
                    <td>

                            <!-- <a href = "creators/bruce_timm"> -->
                            <p>Bruce Timm</p>
                            <!-- </a> -->
                            <!-- <a href = "creators/james_tucker"> -->
                            <p>James Tucker</p>
                            <!-- </a> -->
                            <!-- <a href = "creators/dwayne_mcduffie"> -->
                            <p>Dwayne McDuffie</p>
                            <!-- </a> -->
                        
                    </td>
                    </tr>

                    <tr>
                    <td><div class= "thumb"> 
                        <img class = "thumb-image" src="http://vignette3.wikia.nocookie.net/marvel_dc/images/0/07/Young_Justice_TV_Series.PNG/revision/latest/scale-to-width-down/270?cb=20100804073010"/></div></td>
                    <td><a href = "shows/young_justice.html">Young Justice</a></td>
                    <td>Cartoon Network</td>
                    <td>November 2010</td>
                    <td>

                            <!-- <a href = "characters/artemis.html"> -->
                            <p>Artemis</p>
                            <!-- </a> -->
                            <!-- <a href = "characters/aqualad.html"> -->
                            <p>Aqualad</p>
                            <!-- </a> -->
                            <!-- <a href = "characters/kid_flash.html"> -->
                            <p>Kid Flash</p>
                            <!-- </a> -->
                            <!-- <a href = "characters/miss_martian.html"> -->
                            <p>Miss Martian</p>
                        
                    </td>
                    <td>

                            <!-- <a href = "creators/greg_weisman.html"> -->
                            <p>Greg Weisman</p>
                            <!-- </a> -->
                            <!-- <a href = "creators/brandon_vietti.html"> -->
                            <p>Brandon Viettie</p>
                            <!-- </a> -->
                            <!-- <a href = "creators/joe_kubert.html"> -->
                            <p>Joe Kubert</p>
                            <!-- </a> -->
                        
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

