    <!-- Table -->
    <div class = "container">
        <div class="box-table">
            <h2 class="section-heading">Teams</h2>
            <table class="table table-striped">
                <thread>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Members</th>
                        <th>Allies</th>
                        <th>First Appearance</th>
                        <th>Base of Operations</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                    <td><div class = "thumb">
                        <img class = "thumb-image" src = "http://vignette3.wikia.nocookie.net/marvel_dc/images/4/4a/Justice_League_0008.jpg/revision/latest?cb=20111226204723"/></div></td>
                    <td><a href = "teams/justice_league.html">Justice League</a></td>
                    <td>
                            <a href = "characters/batman.html">
                            <p>Batman</p></a>
                            <a href = "characters/superman.html">
                            <p>Super Man</p></a>
                    </td>
                    <td>
                            <!-- <a href = "teams/justice_society_of_america.html"> -->
                            <p>Justice Society of America</p>
                            <!-- </a> -->
                    </td>
                    <td>
                        <a href = "comics/brave_and_the_bold_vol_1.html">The Brave and the Bold</a>
                    </td>
                    <td>
                        Justice League Headquarters
                    </td>
                    </tr>


                    <tr>
                    <td><div class = "thumb">
                        <img class = "thumb-image" src = "http://vignette2.wikia.nocookie.net/marvel_dc/images/8/8e/Green_Lantern_Corps_005.jpg/revision/latest?cb=20090718045938"/></div>
                    </td>
                    <td><a href = "teams/green_lantern_corps.html">Green Lantern Corps</a></td>
                    <td>
                              <!-- <a href = "characters/green_lantern.html"> -->
                              <p>Green Lantern</p>
                              <!-- </a> -->
                    </td>
                    <td>
                            <a href = "teams/justice_league.html">
                            <p>Justice League</p></a>
                    </td>
                    <td>
                        <a href = "comics/showcase_vol_1.html">Showcase</a>
                    </td>
                    <td>
                        <p>Oa</p>
                    </td>
                    </tr>

                <tr>
                    <td><div class = "thumb">
                        <img class = "thumb-image" src = "http://vignette2.wikia.nocookie.net/marvel_dc/images/3/34/Injustice_League_Unlimited_001.jpg/revision/latest/scale-to-width-down/270?cb=20130725173917"/></div></td>
                    <td><a href = "teams/injustice_league.html">Injustice League</a></td>
                    <td>
                            <a href = "characters/joker.html">
                            <p>The Joker</p></a>
                    </td>
                    <td>
                              None
                    </td>
                    <td>
                        <!-- <a href = "comics/justice_league_of_america_wedding_special_vol_2.html"> -->
                        <p>Justice League of America Wedding Special (Volume 2) #1</p>
                        <!-- </a> -->
                    </td>
                    <td>
                        Hall of Doom
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
